@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ContactManager</h1>
</div>

<div class="row">
    <div class="text-center">
        <h3>@Html.ActionLink("View Contact List", "Index","Contact")</h3>
    </div>
    
</div>